# List and its default functions.

In [2]:
default_list=['ldygfdh', 123, 823247, 8273.0254, 'hjbff', True,[873, 'jfhkj', 873, 120.]]

In [7]:
default_list.append(-1192)

In [12]:
default_list

['ldygfdh',
 123,
 823247,
 8273.0254,
 'hjbff',
 True,
 [873, 'jfhkj', 873, 120.0],
 -1192]

In [13]:
default_list.remove(-1192)

In [14]:
default_list

['ldygfdh', 123, 823247, 8273.0254, 'hjbff', True, [873, 'jfhkj', 873, 120.0]]

In [19]:
default_list.index([873, 'jfhkj', 873, 120.0])

6

In [33]:
default_list.pop(1)

123

In [34]:
default_list

['ldygfdh', 823247, 8273.0254, 'hjbff', True, [873, 'jfhkj', 873, 120.0]]

In [48]:
default_list.insert(1, 23)

In [49]:
default_list

['ldygfdh',
 23,
 823247,
 8273.0254,
 'hjbff',
 True,
 [873, 'jfhkj', 873, 120.0],
 123,
 123,
 6]

In [50]:
default_list.index(123)

7

# Dictionary and its default functions.

In [51]:
name = "Rony"

In [52]:
age = 30

In [53]:
has_android_phone = True

In [54]:
name, age, has_android_phone

('Rony', 30, True)

In [55]:
person = {'Name': name, 'Age': age, 'HasAndroidPhone': has_android_phone}

In [56]:
person

{'Name': 'Rony', 'Age': 30, 'HasAndroidPhone': True}

In [57]:
type(person)

dict

In [58]:
person.keys()

dict_keys(['Name', 'Age', 'HasAndroidPhone'])

In [59]:
person.items()

dict_items([('Name', 'Rony'), ('Age', 30), ('HasAndroidPhone', True)])

In [73]:
person.get("Name")

'Rony'

In [71]:
person.values()

dict_values(['Rony', 30, True])

In [74]:
person.pop("Name")

'Rony'

In [75]:
person

{'Age': 30, 'HasAndroidPhone': True}

# Sets and its default functions

In [77]:
set1={1,1,1,2,3,5,67,0,4,5,6,'asd','sdf','ssa','asd','er'}

In [90]:
type(set1)

set

In [78]:
set1

{0, 1, 2, 3, 4, 5, 6, 67, 'asd', 'er', 'sdf', 'ssa'}

In [79]:
set2={5,2,3,5,6,2,4,9,'asd','dsa'}

In [80]:
set1.intersection(set2)

{2, 3, 4, 5, 6, 'asd'}

In [81]:
set1.isdisjoint(set2)

False

In [82]:
set2.issubset(set2)

True

In [83]:
set2.issubset(set1)

False

In [84]:
set1.issubset(set2)

False

In [85]:
set1.intersection_update(set2)

In [86]:
set1

{2, 3, 4, 5, 6, 'asd'}

In [87]:
set2

{2, 3, 4, 5, 6, 9, 'asd', 'dsa'}

# Tuple and explore default methods.

In [95]:
tup=(2, 3, 4, 5, 5, 6, 9, 'asd', 'dsa')

In [89]:
type(tup)

tuple

In [96]:
tup.count(5)

2

In [97]:
tup.index(5)

3

# Strings and explore default methods

In [103]:
name = "Rony will be going today. Rony is leaving for Usa. Dont know when Rony will return"

In [102]:
name.count('Rony')

3

In [105]:
name.capitalize()

'Rony will be going today. rony is leaving for usa. dont know when rony will return'

In [106]:
name.swapcase()

'rONY WILL BE GOING TODAY. rONY IS LEAVING FOR uSA. dONT KNOW WHEN rONY WILL RETURN'

In [111]:
name.center(46)

'Rony will be going today. Rony is leaving for Usa. Dont know when Rony will return'

In [114]:
name.find('s')

32

In [115]:
name.islower()

False

In [116]:
name.isupper()

False